<div class="container">
  <div class="row">
    <div class="col-xs-offset-3 col-xs-6">
      <h1><%= @movie.title %></h1>
      <img src="<%= @movie.poster_path %>" alt="Poster">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-offset-3 col-xs-2">
      <strong>Release Date:</strong>
    </div>
    <div class="col-xs-2">
      <%= @movie.release_date %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-offset-3 col-xs-2">
      <strong>Genre:</strong>
    </div>
    <div class="col-xs-2">
      <%= @movie.genre %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-offset-3 col-xs-2">
      <strong>Overview:</strong>
    </div>
    <div class="col-xs-5">
      <%= @movie.overview %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-offset-3 col-xs-6">
      <h1>Reviews</h1>
    </div>
  </div>
  <% reviews = @movie.reviews.order("created_at desc") %>
  <div class="row">
    <div class="col-xs-offset-3 col-xs-6">
      <% if reviews.empty? %>
        <h4>No reviews</h4>
      <% end %>
      <%= render reviews %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-offset-3 col-xs-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= render 'reviews/review_form', movie: @movie, review: @review %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-offset-3 col-xs-6">
      <a class="btn btn-default btn-warning" href="/">Back</a>
    </div>
  </div>
</div>
